@import "../../theme/main";

$height-form: calc(100% - 56px);
$padding-input-field: 2.14rem 1.07rem 0.86rem 0;
$padding-block-password-forgotten: 1.42rem 1.07rem 0.35rem 1.07rem;
$padding-block-handler-submit: 1.42rem 1.07rem 1.07rem 1.07rem;

page-login {
  font-family: Roboto;

  ion-content {
    font-weight:bold;
    background: url("../assets/imgs/login-bg.jpg");
    background-position: center;
    background-size: cover;
    .header {
      @include setFlexStyles(flex-start);
      height: $height-header;
      font-size: $font-size-em-md;
      color: $header-back-color;
    }

    form {
      @include placeholderColor();
      @include setFlexStyles();
      height: $height-form;
      color: #fff;
      .title-login-1 {
        width: 100%;
        font-size: $font-size-em-lg;
        color: #fff;
        margin-bottom: 0.35rem;
      }
      .title-login-2{
        width: 100%;
        color: #fff;
        font-size: $font-size-em-md;
        margin-bottom: 7%;
      }

      .container-input {
        width: 100%;
        input {
          width: 90%;
          border: none;
          border-bottom: 1px solid $white-opacity;
          padding: $padding-input-field;
          background: rgba(1,1,1,0);
          color: #fff;
        }
      }

      .password-forgotten {
        @include setFlexStyles(flex-end, flex-end);
        width: 100%;
        padding: $padding-block-password-forgotten;
        font-weight: bold;
      }

      .handler-login {
        @include setFlexStyles();
        width: 100%;
        padding: $padding-block-handler-submit;

        button {
          width: 100%;
          padding: 1.42rem 0;
          font-size: $font-size-em-sm;
          letter-spacing: 2px;
          background-color: #fff;
          font-weight: bold;
          color: $btn-text-color;
        }
      }

      .title-under-btn {
        @include Agb();
        font-weight: normal;
      }

      .tooter-login {
        @include setFlexStyles();

        width: 100%;
        font-size: 1.96rem;
        text-decoration: underline;
        span {
          width: 80%;
        }
      }
    }
  }
}
