@import "../../theme/main";

$height-form: calc(100% - 56px);
$padding-input-field: 30px 15px 12px 0;
$padding-block-password-forgotten: 20px 15px 5px 15px;
$padding-block-handler-submit: 20px 15px 15px 15px;
$white-opacity: rgba(255,255,255,0.5);

page-login {
  font-family: "RobotoCondensesBold";

  ion-content {
    background: url("../../assets/imgs/login-bg.jpg");
    background-position: center;
    background-size: cover;
    .header {
      @include setFlexStyles(flex-start);
      height: $height-header;
      font-size: $font-size-em-md;
      color: $header-back-color;
    }

    form {
      @include setFlexStyles();
      height: $height-form;
      color: #fff;
      .title-login-1 {
        width: 100%;
        font-size: $font-size-em-lg;
        color: #fff;
        margin-bottom: 5px;
      }
      .title-login-2{
        width: 100%;
        color: #fff;
        font-size: $font-size-em-md;
        margin-bottom: 7%;
      }

      .container-input {
        width: 100%;
        input {
          width: 90%;
          border: none;
          border-bottom: 1px solid $white-opacity;
          padding: $padding-input-field;
          background: rgba(1,1,1,0);
          color: $white-opacity;
        }
      }

      .password-forgotten {
        @include setFlexStyles(flex-end, flex-end);
        width: 100%;
        padding: $padding-block-password-forgotten;
        font-weight: bold;
      }

      .handler-login {
        @include setFlexStyles();
        width: 100%;
        padding: $padding-block-handler-submit;

        button {
          width: 100%;
          padding: 20px 0;
          font-size: $font-size-em-sm;
          letter-spacing: 2px;
          background-color: #fff;
          color: $btn-text-color;
        }
      }

      .title-under-btn {
        width: 100%;
        @include setFlexStyles();
        font-size: $font-size-em-xss;
        margin-top: 8px;
      }

      .tooter-login {
        @include setFlexStyles();
        margin-top: 18%;
        font-size: 1.6rem;
        text-decoration: underline;
        span {
          width: 80%;
        }
      }
    }
  }
}
