@import "../../theme/main";

$padding-input-field: 20px 15px 10px 0;
$margin-top-container: 8%;
$margin-top-button: 9%;

page-register {
  .page-second {

    .container-fullname {
      margin-top: $margin-top-container;
      input {
        width: 90%;
        border: none;
        border-bottom: 1px solid gray;
        padding: $padding-input-field;
      }
    }

    .handler {
      width: 100%;
      margin-top: $margin-top-button;
      input{
        letter-spacing: 2px;
      }
    }
  }
}
