@import "../../theme/main";

$padding-input-field: 20px 15px 10px 0;
$margin-top-container: 8%;
$margin-top-button: 9%;
$font-size-footer: 0.625em;

page-register {
  .page-third {
    .container-fullname {
      margin-top: $margin-top-container;
      align-self: center;

      input,
      input[type=text],
      input[type=password],
      input:-webkit-autofill {
        width: 90%;
        border: none;
        border-bottom: 1px solid $white-opacity;
        padding: $padding-input-field;
        background-color: transparent !important;
        color: $white-opacity;
        -webkit-appearance: none;
      }
    }

    .handler {
      width: 100%;
      margin-top: $margin-top-button;
      button {
        font-weight: bold;
        padding: 19px 0;
        font-size: 1.6rem;
        letter-spacing: 2px;
        color: $btn-text-color;
        background-color: #fff;
      }

      input{
        letter-spacing: 2px;
      }
    }

    .footer-reg {
      @include Agb();
      font-weight: normal;
    }
  }
}
