<ion-menu [content]="content" type="overlay">
  <menu-side-component></menu-side-component>
</ion-menu>
<ion-tabs #tabContainer selectedIndex="{{selected}}" color="dark">
  <ion-tab #content [root]="dashboard" show tabIcon="b-home" tabTitle="{{'TABS.TABS_1' | translate }}" (click)="goToDash()"></ion-tab>
  <ion-tab [root]="workout" tabIcon="b-flash" tabTitle="{{'TABS.TABS_2' | translate }}" *ngIf="['ng-reflect-is-active']"></ion-tab>
  <ion-tab [root]="exercises" tabIcon="b-exercises" tabTitle="{{'TABS.TABS_3' | translate }}" *ngIf=" ['ng-reflect-is-active']"></ion-tab>
  <ion-tab [root]="warmup" tabIcon="b-warmup" tabTitle="{{'TABS.TABS_4' | translate }}" *ngIf="['ng-reflect-is-active']"></ion-tab>
</ion-tabs>
