@import "../../theme/main";
@mixin makeIcon($arg, $val) {
  .ion-ios-#{$arg}:before ,
  .ion-ios-#{$arg}-circle:before ,
  .ion-ios-#{$arg}-circle-outline:before ,
  .ion-ios-#{$arg}-outline:before ,
  .ion-md-#{$arg}:before ,
  .ion-md-#{$arg}-circle:before ,
  .ion-md-#{$arg}-circle-outline:before ,
  .ion-md-#{$arg}-outline:before  {
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url($val);
    background-size:contain;
  }
  a[aria-selected=false]{
    opacity: 0.5;
  }
}

.tabbar {
  background: #000 !important;
}


.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
}

.tabs-md .tab-button[aria-selected=true] .tab-button-text {
  -webkit-transform: none;
  transform: none;
}


page-tabs {
  $tabs-ios-tab-min-height: 56px;
  @include makeIcon(b-home,'../assets/imgs/icon-home.png');
  @include makeIcon(b-flash,'../assets/imgs/icon-flesh.png');
  @include makeIcon(b-exercises,'../assets/imgs/icon-program.png');
  @include makeIcon(b-warmup,'../assets/imgs/icon-warmup.png');
  font-family: "Roboto";
  font-weight: bold;
  font-size:0.7em;

  ion-content {
  }


  ion-tabs {
    .tabbar:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 0.178rem;
      width: 100%;
      background: linear-gradient(to right, #e7102b, #12b4e7);
    }

    .tab-button-text{
      display: inline-block !important;
    }
  }
}
