<ion-header transparent>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/imgs/menu-logo.png" alt=""></ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="plusmember" (click)="goTo('plusmember')">
        <div>{{'DASHBOARD.STATIC' | translate }}</div>
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="divider"></div>

</ion-header>

<ion-content>
  <div class="container-dashboard" *ngIf="video" [ngClass]="{'no-scroll': isScroll}">
    <div class="block block-1">
      <img [src]="video.video_img" width="100%">
      <ion-icon class="play-button" *ngIf="video.video_url" (click)="playVideoModal()" name="md-play"></ion-icon>
      <div class="block-1-footer">
        <span>{{'DASHBOARD.WORKOUTS_WEEK' | translate }}</span>
        <span>{{video.duration}} MIN <img src="assets/imgs/time-icon.png" alt="">
        </span>
      </div>
    </div>
    <div class="block block-2 workouts" (click)="goTo('WorkoutComponent')">
      {{'DASHBOARD.WORKOUTS' | translate }}
    </div>
    <div class="block block-3 " (click)="goTo('ExercisesComponent')">
      <div class="block item-block-3 exercises" col-6>
        {{'DASHBOARD.EXERCISES' | translate }}
      </div>
      <div class="block item-block-3 warm ups" col-6 (click)="goTo('WarmupComponent')">
        {{'DASHBOARD.WARM_UP' | translate }}
      </div>
    </div>
    <div class="block block-footer">
      <div class="head">
        <h3 [innerHTML]="rundStr"></h3>
      </div>
      <div class="footer-item" *ngIf="language === 'de'">
        <h2>{{'DASHBOARD.CRAZY_1' | translate }}</h2>
        <h2>{{'DASHBOARD.CRAZY_2' | translate }}</h2>
      </div>
      <div class="footer-item en" *ngIf="language !== 'de'">
        <h2>4 weeks for 1 usd</h2>
        <div class="risk"><img src="assets/imgs/approved-signal.png" alt="">100% RISKFREE</div>
      </div>
    </div>
    <pay-it></pay-it>
  </div>
</ion-content>
