@import "../../theme/main";
$bg-color-dash: #111111;
$font-size-dash: 2.14rem;
$text-opacity: rgba(255,255,255,.85);

@mixin textTitle() {
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  font-size: $font-size-dash;
  //letter-spacing: 1.8px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
}
body {
  background-color: #1b1c1c;
}
.inner-back-button .button-inner {
  padding: 8px;
}
.divider {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0.178rem;
  width: 100%;
  background: linear-gradient(to right, #e7102b, #12b4e7);
}
#dash-header {

}

.statusbar-padding {
  min-height: 0 !important;
  padding-top: 0 !important;
}

page-dashboard {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-weight: bold;

  div.scroll-content {
    background: #1b1c1c !important;
  }

  .bar-button-menutoggle-ios ion-icon,ion-icon {
    font-size: 2.8rem !important;
  }
  .toolbar-background {
    background: #000!important;
  }

  ion-navbar {
    img {
      height: 2.8rem;
      margin-left: 10px;
    }

    ion-buttons {
      width: 100%;
      @include setFlexStyles(space-between);
    }
    background: #000!important;
    height: $height-header-dashboard;

    .plusmember-wrapper {
      min-width: 48px;
    }
    .plusmember {
      font-family: "Roboto";
      font-weight: bold;
      color: #000000 !important;
      font-size: 0.72rem;
      text-transform: uppercase;
      padding: 0.8rem  !important;
      background-color: #fff;
      border-radius: 0 !important;
      height: 1.5rem;
      margin-right: 7px;
    }
  }

  ion-content {
    padding-bottom: 56px;
    .container-dashboard {

      background-color: $dashboard-background;
      height: 100%;
      .block {
        // NEED REMOVE
        @include setFlexStyles();
        box-sizing: border-box;
        @include textTitle();
      }
      .block-1 {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: $height-block-1;
        background-color: $bg-color-dash;
        background-size: cover;
        background-repeat: no-repeat;

        img {
          //min-height: 100%;
          min-width: 100%;
          position: absolute;
          width: 100%;
          left: 0;
        }
        .play-button {
          font-size: 6rem !important;
          color: rgba(255,255,255,.7);
          text-shadow: 0px 0px 118px rgba(0,0,0,0.7),
          0px 0px 118px rgba(0,0,0,0.7),
          0px 0px 118px rgba(0,0,0,0.7);
          z-index: 22;
        }

        .block-1-footer {
          @include setFlexStyles(space-between, flex-end);
          padding-bottom: 3px;
          width: 100%;
          position: absolute;
          bottom: 0rem;
          min-height: 4rem;
          box-sizing: border-box;
          font-size: 0.575em;
          left: 0;
          -moz-box-shadow: inset 0px -17px 17px  rgba(0,0,0,0.5);
          -webkit-box-shadow: inset 0px -17px 17px  rgba(0,0,0,0.5);
          box-shadow: inset 0px -17px 17px  rgba(0,0,0,0.5);
          //background: linear-gradient(rgba(233,233,233,0.2), rgba(26,27,27, 0.7));
          span {
            font-weight: bold;
            padding: 0 5px;
            font-size: 0.89rem;
            text-shadow: none;
            //letter-spacing: 1.5px;
            @include setFlexStyles();
            flex-direction: row;
            .time-icon, img {
              width: 1.1rem;
              height: 1.1rem;
              margin-left: 5px;
              margin-bottom: 3px;
              position: relative;
              min-width: 10px;
            }
          }
        }
      }
      .block-warm-ups {

        width: 100%;
        height: $height-block-3;
        background-color: chocolate;
        background: url("../assets/imgs/baba-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }
      .block-exercises {
        width: 100%;
        height: $height-block-3;
        background-color: chocolate;
        background: url("../assets/imgs/man-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }

      .block-2 {
        height: $height-block-2;
        background: url("../assets/imgs/workouts-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border-top: 1px solid $bg-color-dash;
        border-bottom: 1px solid $bg-color-dash;
      }

      .block-3 {
        height: $height-block-3;
        background-color: white;
        .item-block-3 {
          height: 100%;
          float: left;
          box-sizing: border-box;
        }
        .item-block-3:nth-child(1) {
          background: url("../assets/imgs/exercises-bg.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          border-right: 1px $bg-color-dash;
        }
        .item-block-3:nth-child(2) {
          background-color: chocolate;
          background: url("../assets/imgs/warmup.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          border-left: 1px solid $bg-color-dash;
        }
      }
      .block-footer {
        background-color: $bg-color-dash;
        flex-direction: column;
        position: relative;
        .head {
          height: 31%;
          //position: absolute;
          top: 0;
          @include setFlexStyles();
          h3 {
            text-align: center;
            font-size: 1.25rem;
            font-family: "Roboto";
            font-weight: bold;
            //letter-spacing: 0.1rem;
            padding: 5px 0;
            text-transform: none !important;
            text-shadow: none !important;
            color: #7d7d7d;
          }
        }
        .footer-item {
          font-family: Roboto;
          height: 69%;
          background: url("../assets/imgs/foote-bg.jpg");
          background-size: cover;
          background-position: center;
          width: 100%;
          flex-direction: column;
          @include setFlexStyles();
          h2 {
            margin: 2px;
            opacity: 0.8;
            text-align: center;
            @include textTitle();
            text-shadow: none !important;
          }
          .en {
            h2 {
              opacity: 0.8;
              text-align: center;
              @include textTitle();
              text-shadow: none !important;
              margin-top: 2%;
              font-weight: bold;

            }
          }
          .risk {
            font-size: 1.3rem;
            @include setFlexStyles();
            text-transform: uppercase;
            margin-top: 1%;
            img {
              width: 1.5rem;
              height: 1.5rem;
              margin-right: 0.86rem;
            }
          }
        }
        height: $height-block-footer;
      }
      //-webkit-background-clip: text;

    }
  }
  .no-scroll {
    position: fixed;
  }
}
