@import "../../theme/main";

filter-video {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  height: 100vh;
  width: 100%;
  ion-header {
    ion-navbar {
      button {
        background: transparent;
        ion-icon {
          color: #fff;
          font-size: 2.5rem;
        }
      }
    }
  }
  h2 {
    margin-top: 17vh;
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
  }
  .levels {
    //height: 3.69rem;
    width: 90%;
    margin: 4.44vh auto;
    overflow: auto;
    //@include setFlexStyles(space-between);
    //flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;

    .filter-item:nth-child(4){
      margin-top: 15px;
    }

    .filter-item {
      height: 3.69rem;
      @include setFlexStyles();
      width: 31%;
      //min-width: 27%;
      letter-spacing: 2px;
      font-weight: 700;
      background: #fff;
      font-size: 1.1rem;
      i:first-child {
        margin-left: 5px;
      }
      &.active {
        color: white;
        background: #000;
        box-sizing: border-box;
        border: 1px solid #fff;
        .flash:after {
          background: url(../assets/imgs/flash-white.png) 100% 100% no-repeat;
          display: block;
          content: '';
          height: 18px;
          width: 11px;
          background-size: contain;
        }
      }
    }

    .filter-item {
      .flash:after {
        background: url(../assets/imgs/flash-black.png) 100% 100% no-repeat;
        content: '';
        height: 18px;
        width: 11px;
        background-size: contain;
        display: block;
      }
    }
  }

  .filters-warmcold {
    .levels {
      display: flex;
      justify-content: flex-start;
      .filter-item {
        margin-right: 15px;
      }
    }
  }

  .go-btn {
    width: 68.85%;
    height: 7vh;
    background-color: #fff;
    color: #1a1b1b;
    font-size: 1.6rem;
    @include setFlexStyles();
    margin: 12.22vh auto 0 auto;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  background: rgba(0,0,0,.9);
}
