@import "../../theme/main";
@import "./guide";

page-guide {
  .page-guide-4 {
    position: absolute;
    top:0;
    width: 100%;
    height: calc(100vh - 44px);
    flex-direction: column;

    .header-block {
      height: $height-header-dashboard;
      background-color: $guide-background;
    }

    .guide-block{
      padding-top: 5%;
      height: $height-block-1 + $height-block-2;
      background-color: $guide-background;
      @include setFlexStyles(flex-start);
      flex-direction: column;

      .namber-page {
        @include numberPage();
      }

      .title {
        width: 85%;
        @include title();
      }

      .next-guide {
        width: 90%;
        @include nextGuide();
      }

      .footer-guide{
        @include footerGuide();
      }
    }

    .block-3 {
      height: $height-block-3;
      display: flex;
      justify-content: flex-end;
      .item-block-3 {
        height: 100%;
        background-color: $guide-background;
      }
    }

    .footer-block{
      width: 100%;
      height: $height-block-footer;
      background-color: $guide-background;
    }
  }
}
