<ion-content>
  <div class="container hero">
    <ion-header transparent>
      <ion-navbar hideBackButton transparent>
        <ion-buttons left>
          <button ion-button icon-only (click)="close()">
            <ion-icon name="ios-arrow-round-back"></ion-icon>
          </button>
        </ion-buttons>
      </ion-navbar>
    </ion-header>
    <div class="content-inner">
      <span class="sub-title">BECOME ATHLETIC <br> AND FIT LIKE NEVER BEFORE</span>
      <span class="top-title">with the most innovative workout in the world!</span>

      <div class="handler">
        <button type="submit" (click)="open('https://www.digistore24.com/product/92793')">TO THE OFFER</button>
      </div>

      <img src="assets/imgs/arrow.png" alt="">

    </div>
      <div class="divider"></div>
  </div>
  <div class="container partners">
      <div class="content-inner">
        <div class='head-title'>As seen on</div>
        <div class="banners">
            <img src="assets/imgs/banners.png" alt="">
        </div>
      </div>
  </div>
    <div class="container slider-block">
        <div class="content-inner">
            <div class="slider-top">Weaskedourusers:</div>
            <div class="slider-sub-title">„Why do you love Breakletics?“</div>

            <ion-slides class="slider" pager>
                <ion-slide *ngFor="let item of testimonials">
                    <div class="avatar-wrapper" >
                        <div class="avatar"
                             [style.background]="'url(' + item.avatar + ')'"
                             [style.backgroundSize]="'cover'"
                             [style.backgroundPosition]="'center'"
                             [style.borderRadius]="'50%'"
                        >
                        </div>
                    </div>
                    <div class="name" [innerHTML]="item.name"></div>
                    <div class="date" [innerHTML]="item.date"></div>
                    <div class="description" [innerHTML]="item.description"></div>
                </ion-slide>
            </ion-slides>
        </div>
    </div>
    <div class="container benefits">
        <div class="content-inner">
            <div class="benefits-title">5 reasons to become </div>
            <div class="benefits-subtitle">a PlusMember now!</div>

            <div class="benefit" *ngFor="let item of benefits">
                <div class="benefit-title" [innerHTML]="item.title"></div>
                <div class="benefit-subtitle" [innerHTML]="item.description"></div>
            </div>
        </div>
    </div>
    <div class="container price">
      <div class="content-inner">
        <div class="risk"><img src="assets/imgs/approved-signal.png" alt="">100% RISKFREE</div>
        <div class="price-title">1 USD</div>
        <div class="price-subtitle">For the 1st month and if you like it, afterwards</div>

        <div class="prices-wrapper">
            <div class="left">
                <div class="left-inner">
                    <span>Yearly</span>
                    <span class="pre-amount">89,99 USD</span>
                    <span class="amount">7.50</span>
                    <span class="amount-after">USD/<br>Month</span>
                </div>
            </div>
            <div class="right">
                <div class="right-inner">
                    <span>Save </span>
                    <span> -38%</span>
                </div>
            </div>
        </div>
        <div class="prices-wrapper">
            <div class="left">
                <div class="left-inner">
                    <span>Monthly</span>
                    <span class="pre-amount"><s>13,99 USD</s></span>
                    <span class="amount">10,99</span>
                    <span class="amount-after">USD/<br>Month</span>
                </div>
            </div>
            <div class="right">
                <div class="right-inner">
                    <span>Special Price!</span>
                </div>
            </div>
        </div>

        <div class="subtitle-after">
            <span>Your suscription automatically renews by the chosen period. You can cancel the renewal at any time. The payment is processed by Digistore24.</span>
        </div>
    </div>
    </div>

</ion-content>
