

// Custom height tabs for IOS / ANDROID
.tabs-ios .tab-button {
  min-height: 56px !important;
  height: 56px !important;
}

.tabs-md .tab-button {
  min-height: 56px !important;
  height: 56px !important;
}


