
$background-white: #FFF;
$background-black: #1b1c1c;

//Guide page
$guide-background: rgba(0, 0, 0, 0.875);
$guide-color-text: #fff;


//Dashboard page
$dashboard-background: #141414;


//Menu side
$menu-red-color: #d65575;
$menu-blue-color: #4ca2e0;
$list-ios-header-border-bottom: 0;
