//global
$btn-text-color: #012850;
$white-opacity: rgba(255,255,255,0.5);

$font-size-em-xss: 0.8rem;
$font-size-em-xs: 0.9rem;
$font-size-em-sm: 1.2rem;
$font-size-em-md: 2.7rem;
$font-size-em-lg: 5.1rem;

$font-size-onboarding-lg: 3.9rem;
$font-size-onboarding-md: 1.7rem;

//Header
$height-header: 56px;
$height-header-dashboard: 5rem;
//$height-header-dashboard: 70px;
$header-back-color: #c2c2c2;
$navbar-title-font-size: 1.7rem;
$navbar-title-font-color: #c2c2c2;
$navbar-title-font-spacing: 0.2rem;
$navbar-title-button_size: 2.5rem;

//Tabs
$height-tabs: 56px;

//Dashboard page
$height-block-1: 29.5vh;
$height-block-2: 16.58vh;
$height-block-3: 16.58vh;
$height-block-footer: 23.84vh;

//Menu side
$header-image: 19.24vh;

$searchbar-ios-input-clear-icon-color: rgba(255,255,255,.6);
$searchbar-ios-input-search-icon-color: rgba(255,255,255,.6);
