//global
$btn-text-color: #012850;
$white-opacity: rgba(255,255,255,0.5);

$font-size-em-xss: 0.8rem;
$font-size-em-xs: 0.9rem;
$font-size-em-sm: 1.2rem;
$font-size-em-md: 2.7rem;
$font-size-em-lg: 5.1rem;

$font-size-onboarding-lg: 3.9rem;
$font-size-onboarding-md: 1.7rem;

//Header
$height-header: 56px;
$height-header-dashboard: 74px;
$header-back-color: #c2c2c2;

//Dashboard page
$height-block-1: 32%;
$height-block-2: 18%;
$height-block-3: 18%;
$height-block-footer: 32%;
