//global
$btn-text-color: #012850;
$font-size-em-xss: 0.8em;
$font-size-em-xs: 0.9em;
$font-size-em-sm: 1.2em;
$font-size-em-md: 2.7rem;
$font-size-em-lg: 5.1rem;

//Header
$height-header: 56px;
$header-back-color: #c2c2c2;

//Dashboard page
$height-block-1: 32%;
$height-block-2: 18%;
$height-block-3: 18%;
$height-block-footer: 32%;
