@import "../../theme/main";

$margin-icon: 10px;

menu-side-component {
  ion-content {
    height: 100vh;
    background-color: $dashboard-background;

    .item-red {
      color: $menu-red-color;
    }
    .item-blue {
      color: $menu-blue-color;
    }

    div {
      background: $dashboard-background;
      font-weight: 500;
    }

    .dark-text-color {
      color: #707070
    }

    .light-text-color {
      color: $guide-color-text;
    }

    .item-menu {
      padding: 0 15px;
      background: $dashboard-background;

      ion-icon {
        width: 20px;
        margin-right: $margin-icon;
      }

      .item {
        padding: 10px 0;
      }

      .item:last-child {
        padding-bottom: 0;
      }
    }

    .header {
      @include setFlexStyles();
      height: $header-image;
      background-color: lightgray;
    }
  }
}
