@import "../../theme/main";

$height-form: calc(100% - 56px);
$padding-input-field: 30px 15px 12px 0;
$padding-block-password-forgotten: 20px 15px 5px 15px;
$padding-block-handler-submit: 20px 15px 15px 15px;

password-restore {
  font-family: "RobotoCondensesBold";
  .header-md:after, .header-ios:after {
    background-image: none !important;
    content: '';
  }
  ion-header {
    @include setFlexStyles(flex-start);
    //height: $height-header;
    color: $header-back-color;
    ion-icon {
      color: $header-back-color;
    }
    .bar-button-md, .bar-button-ios {
      font-size: 1.8rem;
      margin-left: 5px;
    }
  }
  ion-content {
    background: url("../assets/imgs/login-bg.jpg");
    background-position: center;
    background-size: cover;


    form {
      @include setFlexStyles();
      height: $height-form;
      color: #fff;
      font-weight: bold;
      .title-login-1 {
        width: 100%;
        font-size: $font-size-em-lg;
        color: #fff;
        margin-bottom: 5px;
        text-align: center;
      }
      .title-login-2{
        width: 100%;
        color: #fff;
        font-size: $font-size-em-md;
        margin-bottom: 7%;
        text-align: center;

      }

      .container-input {
        text-align: center;
        width: 100%;
        input {
          width: 90%;
          border: none;
          border-bottom: 1px solid $white-opacity;
          padding: $padding-input-field;
          background: rgba(1, 1, 1, 0);
          color: #fff;
          outline: none;
        }

        .item-input.ng-valid.input-has-value::after{
          border-bottom-color: transparent;
        }
      }

      .password-forgotten {
        @include setFlexStyles(flex-end, flex-end);
        width: 100%;
        padding: $padding-block-password-forgotten;
        font-weight: bold;
      }

      .handler-login {
        @include setFlexStyles();
        width: 100%;
        padding: $padding-block-handler-submit;

        button {
          width: 100%;
          padding: 20px 0;
          font-size: $font-size-em-sm;
          letter-spacing: 2px;
          background-color: #fff;
          color: $btn-text-color;
          text-transform: uppercase;
          font-weight: bold;
        }
      }

      .title-under-btn {
        @include footerGuide();
      }

      .tooter-login {
        @include setFlexStyles();
        width: 100%;
        margin-top: 18%;
        font-size: 1.6rem;
        //text-decoration: underline;
        span {
          width: 80%;
        }
      }
    }
  }
}
