<ion-header transparent>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button (click)="goToDash()" transparent><ion-icon name="ios-arrow-round-back"></ion-icon></button>
    </ion-buttons>
    <div class="title" [innerHTML]="title"></div>

  </ion-navbar>
  <div class="sub-header">
    <ion-searchbar
      [(ngModel)]="myInput"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)"
      [placeholder]="'VIDEO_LIST.SEARCH' | translate"
    >
    </ion-searchbar>
    <div class="filters">
      <i class="filters-icon"></i>
      <div class="filter-items" (click)="getFilters()">
        <span>{{ selectFilters && selectFilters['list'] ? selectFilters['list'] : "WORKOUTS.SEARCH" | translate}}</span>
      </div>
      <ion-icon name="md-close-circle"></ion-icon>
    </div>
  </div>
</ion-header>
<ion-content contentTop="200">
  <div class="container-workout">
    <div class="video slide-right" *ngFor="let item of videos; let i = index" (click)="playVideoModal(item)"
         [style.background]="'url(' + item.video_img + ')'"
         [style.backgroundSize]="'cover'"
         [style.backgroundPosition]="'50% 50%'"
    >
      <div class="footer">
        <div class="footer-inner">
          <span [innerHTML]="item.post_title"></span>
          <span>
            <span>{{item.duration}}&nbsp;&nbsp;MIN <i class="time-icon"></i>
            </span>
            <span class="level" *ngIf="item.level">{{item.level}}
              <ng-container *ngFor="let l of levels; let i = index;">
                <i class="flash" *ngIf="i <= levels.indexOf(item.level)"></i>
              </ng-container>
            </span>
          </span>
        </div>
      </div>
    </div>

    <div class="divider-video" [innerHTML]="'WORKOUTS.JETZT' | translate"></div>

    <div class="private video">
      <div class="image-wrapper">
        <img src="../assets/imgs/workouts-bg.jpg" >
      </div>
      <div class="footer">
        <div class="footer-inner">
          <span>Title</span>
          <span>
            <span>15 MIN <i class="time-icon"></i>
            </span>
            <span class="level">{{"WORKOUTS_FILTER.EXPERT" | translate}}
              <i class="flash "></i>
              <i class="flash "></i>
              <i class="flash "></i>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
