@import "../../theme/main";

$height-form: calc(100% - 56px);
$padding-input-field: 30px 15px 12px 0;
$padding-block-password-forgotten: 20px 15px 5px 15px;
$padding-block-handler-submit: 20px 15px 15px 15px;

plusmember {
  font-family: Roboto;
  font-weight: bold;
  .top-right,
  .bottom-left {
    position: absolute;
    z-index: -1;
    padding: 3px;
  }
  .top-right {
    top:0;
    right: 0;
    width: 10.82rem;
    z-index: 9;
  }
  .header-md:after, .header-ios:after {
    background-image: none !important;
    content: '';
  }
  ion-header {
    .button-inner {
      position: relative;
      top: 1rem;
    }
    @include setFlexStyles(flex-start);
    //height: $height-header;
    color: $header-back-color;
    ion-icon {
      color: $header-back-color;
    }
    .bar-button-md, .bar-button-ios {
      font-size: 1.8rem;
      margin-left: 5px;
    }
  }

  ion-content {
    height: 100vh;
    @include setFlexStyles();
    color: #fff;
    text-align: center;
    span {
      display: block;
    }
    .handler {
      @include setFlexStyles();
      width: 100%;
      button {
        width: 57%;
        padding: 1.5rem 0;
        letter-spacing: 2px;
        background-color: #fff;
        color: #1a1b1b;
        text-transform: uppercase;
        font-weight: bold;
        align-self: center;
      }
    }
    .bottom-left {
      bottom: 0;
      left: 0;
      width: 18.14rem;
    }
    .gutschein-wrapper {
      text-align: center;
    }
    .gutschein {
      width: 57%;
      height: auto;
      margin: 5.57rem auto 1.78rem auto;
    }
    .top-title {      width: 100%;
      color: #fff;
      font-size: 1.42rem;
      line-height: 1.62rem;
      text-align: center;
    }

    .divider {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 4px;
      width: 100%;
      background: linear-gradient(to right, #ff7c8c, #32ceff);
    }
    .container {
      width: 100%;
      position: relative;
      background-position: center;
      background-size: cover;
    }
    .hero {
      height: 100vh;
      background: url("../assets/imgs/Herobg.jpg");
      background-position: bottom;
      background-size: cover;
      span {
        display: block;
      }
      .content-inner {
        width: 100%;
        height: auto;
        position: absolute;
        text-align: center;
        bottom: 3.57rem;
        @include setFlexStyles();
        flex-direction: column;
      }
      .sub-title {
        text-transform: uppercase;
        margin-bottom: 2.39rem;
        font-size: 2.3rem;
        letter-spacing: 1.5px;
        font-weight: bold;
        div {
          font-size: 2.32rem;
          color: #ff7c8c;
          background-image:linear-gradient(90deg,#ff7c8c, #32ceff);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          display: inline-block !important;
        }
      }
      .top-title {
        margin-bottom: 3.21rem;
      }
      .handler {
        font-size: 1.6rem;
        margin-bottom: 2.14rem;
      }
      img {
        width: 13%;
      }
    }
    .partners{
      background: url('../assets/imgs/presse-bg-1.jpg');
      background-size: cover;
      background-position: bottom;
      .content-inner {
        background: linear-gradient(to right, rgba(231,16,43,0.4), rgba(18,180,231,0.4));
      }
      .banners {
        width: 100%;
        max-height: 32vh;
        padding-bottom: 2.78rem;
        img {
          width: 82.7%;
        }
      }
      .head-title {
        padding: 1.85rem 0;
        text-align: center;
        font-size: 1.3rem;
        color: #fff;
      }
    }
    .slider-block {
      background: url("../assets/imgs/dark-bg.jpg");
      background-size: cover;
      background-position: center;
      padding: 4.72rem 2.5rem;
      width: 100%;
      .avatar-wrapper {
        margin: auto;
        margin-bottom: 1.43rem;
        width: 9.43rem;
        height: 9.43rem;
        border-radius: 50%;
        overflow: hidden;
        z-index: 9;
        @include setFlexStyles();
        //background: linear-gradient(to right, #e7102b, #12b4e7);
        //border: 0.29rem solid transparent;
        box-sizing: border-box;
        //padding: 4px;
        .avatar {
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 100%;
        }

      }

      .slider-top {
        color: #7b7b7b;
        font-size: 1.5rem;
        font-weight: normal;
      }
      .slider-sub-title {
        color: #dfdee1;
        font-size: 2.27rem;
        margin: 1.79rem 0;
      }
      .name {
        font-size: 1.96rem;
        letter-spacing: 2px;
        font-weight: bold;
        color: #a4a4a4;
        text-align: center;
        text-transform: uppercase;
        div {
          background-image:linear-gradient(90deg,#ff7c8c, #32ceff);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          display: inline-block;
        }

        //padding: 0px 4rem;
        margin: 0px auto 1.5rem auto;
      }
      .date {
        font-size: 1.25rem;
        color: #7c7c7c;
        font-weight: normal;
      }
      .description {
        font-size: 1.58rem;
        color: #dfdee1;
        padding: 4.78rem 4.36rem;
        text-align: center;
        position: relative;
        &:after,&:before {
          content: '';
          display: block;
          width: 4.34rem;
          height: 4.5rem;
          position: absolute;
          opacity: 0.25;
          font-weight: normal;
        }
        &:before {
          top: 0px;
          right: 0px;
          background: url("../assets/imgs/coma-right.png");
          background-size: contain;
          background-repeat: no-repeat;

        }&:after {
           bottom: 0px;
           left: 0px;
           background: url("../assets/imgs/coma-left.png");
           background-size: contain;
           background-repeat: no-repeat;
         }
      }
      .slider {
        color: #fff;
        width: 100%;
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
          width: 10px;
          height: 10px;
        }
        .swiper-pagination-bullet {
          background: #fff;
          opacity: 1;
          width: 5px;
          height: 5px;
        }
        .swiper-pagination {
          @include setFlexStyles();
        }
      }
    }
    .benefits {
      background: url("../assets/imgs/dark-bg.jpg");
      background-size: cover;
      background-position: center;

      width: 100%;
      .content-inner {
        width: 100%;
        height: 100%;
        background-color: rgba(223,225,222,.1);
        padding: 4.72rem 2.5rem 1rem 2.5rem;
      }
      .benefits-title,
      .benefits-subtitle {
        font-size: 2.84rem;
        color: #dfdee1;
        text-align: center;
        font-weight: bold;
      }
      .benefits-subtitle {
        margin-bottom: 5.18rem;
      }
      .benefit {
        margin: 0 0.43rem;
        text-align: left;
        padding: 0 0 1.92rem 3.93rem;
        position: relative;

        &:before {
          position: absolute;
          left: 5px;
          top: 5px;
          content: '';
          display: block;
          background: url('../assets/imgs/checked.png');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          width: 2rem;
          height: 2rem;

        }
        .benefit-title {
          div {
            display: inline-block;
            background-image:linear-gradient(90deg,#ff7c8c, #32ceff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          font-size: 1.23rem;
          text-transform: uppercase;
          font-weight: bold;
          margin-bottom: 3px;
        }
        .benefit-subtitle {
          color: #dfdee1;
          font-size: 1.05rem;
          font-weight: normal;
        }
      }
    }

    .price {
      background: url("../assets/imgs/dark-bg.jpg");
      background-size: cover;
      background-position: center;
      color: #fff;
      .inner-price {
        background-color: rgba(223, 225, 222, 0.1);
        width: 100%;
        height: 100%;
        padding: 14.5rem 2.7% 03.2rem 2.7%;

      }
      .content-inner {
        background: url("../assets/imgs/imgpsh_fullsize.png");
        background-size: cover;
        width: 100%;
        height: 100%;
      }
      .risk {
        font-size: 1.96rem;
        @include setFlexStyles();
        text-transform: uppercase;
        margin-bottom: 3.21rem;
        img {
          width: 2.5rem;
          height: 2.5rem;
          margin-right: 0.86rem;
        }
      }
      .price-title {
        font-size: 7.14rem;
        margin-bottom: 2.5rem;
        font-weight: bold;
      }
      .price-subtitle {
        font-size: 1.43rem;
        margin-bottom: 4.71rem;
      }
      .prices-wrapper{
        width: 100%;
        @include setFlexStyles();
        flex-direction: row;
        margin-bottom: 0.71rem;
        position: relative;
        .left {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border: 0.428rem solid #fff;
          border-right: none;
          width: 81%;
          .left-inner {
            @include setFlexStyles(space-between);
            flex-direction: row;
            text-align: left;
            display: flex;
            width: 100%;
            height: 100%;
            margin-top: 1.8rem;
            margin-bottom: 1.58rem;
          }
          span:first-child {
            width: 38%;
            text-align: left;
            margin: 0 0 0 5.3%;
            font-size: 1.58rem;
            text-transform: uppercase;
          }
          .pre-amount {
            font-size: 1.05rem;
            align-self: flex-start;
            text-transform: uppercase;
          }
          .amount{
            font-size: 2.7rem;
            text-transform: uppercase;
          }
          .amount-after {
            font-size: 1rem;
            text-transform: uppercase;
            margin-right: 0.71rem;
          }
        }
        .right {
          width: 19%;
          height: 100%;
          position: relative;
          .right-inner {
            z-index: 2;
            position: absolute;
            height: 100%;
            width: 100%;
            display: block;
            color: #012c3e;
            font-size: 2.60rem;
            font-weight:bold;
            @include setFlexStyles(space-around);
            flex-direction: column;
            margin: auto;
            span:first-child{
              font-size: 1.0rem;
            }
          }
        }
        &:after {
          content: '';
          position: absolute;
          display: block;
          background: #fff;
          width: 19%;
          height:100%;
          right: 1px;
          top:0px;
          bottom: 0px;
          z-index: 0;
        }
      }
      .subtitle-after {
        margin: 3.46rem auto auto auto;
        display: block;
        text-align: center;
        font-size: 1rem;
      }

    }

  }
}
