@import "../../theme/main";

page-extra-questions {

  ion-content {
    color: #fff;
    background: url("../assets/imgs/login-bg.jpg");
    background-position: center;
    background-size: cover;

    .page {
      width: 87%;

      //overflow: auto;
      margin: 20px auto;
      //padding: 20px 0;
      //position: relative;
      .title {
        width: 100%;
        div:first-child {
          color: $guide-color-text;
          font-size: $font-size-onboarding-lg;
          margin-bottom: 2%;
        }
        div:nth-child(2) {
          color: $guide-color-text;
          font-size: $font-size-em-sm;
          margin-bottom: 9%;
        }
        button {
          @include fullSizeBtn();
        }
      }

      form {
        width: 100%;
        margin-top: 8.7%;
        background: rgba(255,255,255, .0);
        @media (max-width: 320px) {
          margin-top: 0;
        }
        height: 57%;
        .item-block:first-child,
        .item-block:last-child
        {
          border-top: 0;
          border-bottom: 0;
        }
        ion-item {
          background: transparent;
          padding-left: 0;
        }
        ion-list {
          margin-bottom: 0;
        }
        .item-block .item-inner {
          padding-right: 0px !important;
          margin-top: 0;
          border-bottom: 1px solid #fff !important;
        }
        .item-block:last-child .item-inner,
        .item-wrapper:last-child .item-block .item-inner:last-child {
          border-bottom: 0.55px solid #fff !important;
        }

        ion-label {
          color: $white-opacity;
          font-weight: normal;
        }
        button[type=submit] {
          @include fullSizeBtn();
          margin-top: 13.2%;
        }
        .select-text, .datetime-text {
          color: $white-opacity;
          background: rgba(255,255,255, .0);
        }
      }
    }
  }
}
